
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(214, 214, 214);
}

.main-container{
    display: flex;
}

.left-menu{
    background-color: rgb(55, 175, 255);
    width: 18vw;
    height: 100vh;
}

.logo-and-title{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    font-weight: 500;
    padding-top: 12px;
    padding-left: 12px;
    margin-bottom: 30px;
    color: #fff;
}

#dashboard-logo{
    height: 42px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(44deg) brightness(102%) contrast(102%);
}

.menu{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 40px;
}

.menu-icons{
    height: 24px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(44deg) brightness(102%) contrast(102%);
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 12px;
}

.link_name{
    margin-left: 10px;
}


.menu_link{
    color:#fff;
    text-decoration: none;
    transition: .3s ease;
}

.menu_link:hover{
    transform: scale(120%);
}

.right-content{
    width: 82vw;
    height: 100vh;
}

.header{
    background-color: #fff;
    box-shadow: 1px 1px 5px #222;
    padding-top: 12px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.icons-header{
    height: 16px;
}

.bell{
    height: 24px;
}

.user-and-search{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-right: 52px;
}

.search{
    display: flex;
    align-items: center;
    gap: 18px;
}

.search-box{
    width: 550px;
    height: 28px;
    border-radius: 20px;
    border: none;
    background-color: rgb(214, 214, 214);
}

.user-notification{
    display: flex;
    align-items: center;
    gap: 18px;
}

.user_avatar{
    height: 42px;
}

.user_full_name{
    font-weight: 700;
    font-size: 18px;
}

.user-and-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-picture-and-name{
    display: flex;
    align-items: center;
    gap: 18px;
}

.user_avatar_title{
    height: 64px;
}

.username-and-social{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 700;
}

.greatings{
    font-size: 14px;
}

.name-and-social{
    font-size: 20px;
}

.action-buttons{
    display: flex;
    gap: 18px;
    margin-right: 52px;
}

.action-btn{
    height: 32px;
    width: 80px;
    background-color: rgb(55, 175, 255);
    border-radius: 15px;
    border: none;
    color: #fff;
    font-weight: 500;
}

.action-btn:hover{
    border: 1px solid #222;
    background-color: #222;
}

/* MAIN CONTENT  */

.projects-and-announcements{
    display: flex;
    gap: 12px;
    margin: 30px 20px 40px 20px;
    justify-content: space-between;
}

.projects-grid{
    resize: both;
    overflow: auto;
    display: grid;
    grid-gap: 32px;
    padding: 4px;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.project_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    height: 120px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    border-left: 8px solid goldenrod;
    box-shadow: 1px 2px 2px #222;
    
}

.section_titles{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
}

.project_title{
    font-size: 20px;
    font-weight: 500;
}

.fav-look-share{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
    
}


.project-fav-actions{
    height: 18px;
    transition: .3s ease;
}

.project-fav-actions:hover{
    transform: scale(150%);
}


/* Announcements */

.announcements_and_trending{
    width: 30%;
}

.announcements-container{
    background-color: #fff;
    border-radius: 8px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
}

.announcements_titles{
    font-size: 18px;
    font-weight: 500;
}

hr{
    height: 2px;
}

/* Trending */

.trending-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.trending_title{
    margin-top: 12px;
}

.trending-user{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;

}

.user_twitter{
    font-weight: 500;
}


@media screen and (min-width:768px) and (max-width:1024px) {

     .main-container{
        width: 100vw;
     }
    .left-menu{
        width: 30vw;
        position: fixed;
        
    }
    
    .right-content{
        width: 100%;
        margin-left: 220px;
    }

    .search-box{
        width: 250px;
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .project_card{
        width: 260px;
        height: 140px;
    }

    .announcements_and_trending{
        width: 40%;
    }

}

@media screen and (min-width:360px) and (max-width:767px){
    .link_name_hidden{
        display: none;
    }
    
    .right-content{
        width: 100%;
    }
    .projects-and-announcements{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

     .projects-grid{
        display: flex;
        flex-direction: column;
    }

}


@media screen and (min-width:375px) and (max-width:767px){


    .main-container{
        width: 100vw;
     }
    .left-menu{
        width: 32px;
        height: 100vh;
        position: fixed;

    }

    .link_name_hidden{
        display: none;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4px;
        margin-bottom: 10px;

    }

    
.logo-and-title{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
    margin-left: -3px;
    padding-left: 0;
    margin-bottom: 10px;
}

    .menu-icons{
        height: 22px;
    }

    .menu-item{
        gap: 12px;
        padding-bottom: 12px;
    }

    #dashboard-logo{
        height: 30px;
        margin-left: 3px;
    }
    
/* Right Content  */

.projects-and-announcements{
    display: flex;
    flex-direction: column;
}

.right-content{
    width: 340px;
    margin-left: 30px;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 4px;
}

.action-btn{
    height: 22px;
    width: 60px;
}

    .header{
        padding-top: 2px;
        padding-left: 4px;
        padding-bottom: 4px;
    }

    .user_avatar{
        height: 32px;
        
    }
    

    .icons-header{
        height: 20px;
    }

    .search-box{
        width: 210px;
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .project_card{
        width: 260px;
        height: 140px;
    }

    .announcements_and_trending{
        width: 300px;
    }
    
    .trending-container{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:414px) and (max-width:767px){
    .right-content{
        width: 100%;
    }
    .projects-and-announcements{
        width: 100%;
    }

}